mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  background: white;
  height: 60px;
  padding-left: 25px;
  z-index: 2;
  a {
    margin-right: 22px;
    @media (max-width: 400px){
      font-size: 17px;
    }
  }
}

#router-content {
  height: calc(100% - 60px);
  padding-top: 60px;
}
